.idea/
.DS_Store
*.iml
jukebox_dj/index/static/jukebox-dj/.sourcemaps/
jukebox_dj/index/static/jukebox-dj/node_modules/
jukebox_dj/index/static/jukebox-dj/platforms/
jukebox_dj/index/static/jukebox-dj/www/
db.sqlite3
__pycache__/
.coverage
local_settings.py
jukebox_dj/index/static/jukebox-dj/src/assets/properties.json
venv/
*.log
