<!--
  Generated template for the DjEventPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<jukebox-header></jukebox-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col text-large text-center>
        <h1>{{ event.name }}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <!--Denied requests-->
      <ion-col>
        <ion-list>
          <ion-list-header>
            <h2>Denied Requests</h2>
          </ion-list-header>
          <ion-item color="dark" *ngFor="let r of deniedRequests">
            <ion-label> Title: {{ r.song.title}}</ion-label>
            <div item-content>
              Artist: {{ r.song.artist }}
            </div>
          </ion-item>
        </ion-list>
      </ion-col>

      <!--Incoming Requests-->
      <ion-col>
        <ion-list>
          <ion-list-header>
            <h2>Current Requests</h2>
          </ion-list-header>
          <ion-item color="dark" *ngFor="let r of requestedRequests">
            <ion-label> Title: {{ r.song.title}}</ion-label>
            <div item-content>
              Artist: {{ r.song.artist }}
            </div>
          </ion-item>
        </ion-list>
      </ion-col>

      <!--Queued Requests-->
      <ion-col>
        <ion-list>
          <ion-list-header>
            <h2>Queued Requests</h2>
          </ion-list-header>
          <ion-item color="dark" *ngFor="let r of queuedRequests">
            <ion-label> Title: {{ r.song.title}}</ion-label>
            <div item-content>
              Artist: {{ r.song.artist }}
            </div>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <div class='wrapper'>
            <div class='container' [dragula]='"first-bag"'>
              <div>You can move these elements between these two containers</div>
              <div>Moving them anywhere else isn't quite possible</div>
              <div>There's also the possibility of moving elements around in the same container, changing their position</div>
            </div>
            <div class='container' [dragula]='"first-bag"'>
              <div>This is the default use case. You only need to specify the containers you want to use</div>
              <div>More interactive use cases lie ahead</div>
              <div>Make sure to check out the <a href='https://github.com/bevacqua/dragula#readme'>documentation on GitHub!</a></div>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
