page-dj-event {
  @media (max-width: map-get($grid-breakpoints, lg)) {
    .request-container {
      overflow-y: auto;
      position: relative;
      min-height: 10px;
      max-height: 200px;
    }
    .hidden-sm-down {
      display: none !important;
    }
  }

  @media (min-width: map-get($grid-breakpoints, lg) + 1) {
    .request-container {
      overflow-y: auto;
      position: relative;
      min-height: 10px;
      max-height: 60vh;
    }
    .hidden-md-up {
      display: none !important;
    }
  }

  .toolbar-title {
    color: white!important;
  }
}
