page-dj-event {
  @media (max-width: map-get($grid-breakpoints, lg)) {
    .request-container {
      min-height: 10px;
      max-height: 200px;
    }
  }

  @media (min-width: map-get($grid-breakpoints, lg) + 1) {
    .request-container {
      min-height: 10px;
      max-height: 60vh;
    }
  }

  .request-container {
    overflow-y: auto;
    position: relative;
  }
}
