<!--
  Generated template for the DjEventPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<jukebox-header [user]="user"></jukebox-header>

<login-required (userEvent)="userEvent($event)"></login-required>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col text-large text-center>
        <h1>{{ event.name }}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <!--Denied requests-->
      <ion-col col-12 col-sm-10 offset-sm-1 col-md-10 offset-md-1 col-lg-4 offset-lg-0 col-xl-4 offset-xl-0>
        <ion-list>
          <ion-list-header>
            <h2>Denied Requests</h2>
          </ion-list-header>
          <ion-item-group [dragula]='"request-bag"' [dragulaModel]="deniedRequests" id="DENIED" class="request-container hidden-sm-down">
            <ion-item color="dark" *ngFor="let r of deniedRequests" id="{{ r.uuid }}">
              <ion-label> Title: {{ r.song.title}}</ion-label>
              <div item-content>
                Artist: {{ r.song.artist }}
              </div>
            </ion-item>
          </ion-item-group>

          <ion-item-group class="request-container hidden-md-up">
            <ion-item-sliding *ngFor="let r of deniedRequests" #slidingItem>
              <ion-item color="dark" id="{{ r.uuid }}">
                <ion-label> Title: {{ r.song.title}}</ion-label>
                <div item-content>
                  Artist: {{ r.song.artist }}
                </div>
              </ion-item>
              <ion-item-options side="left">
                <button ion-button (click)="updateItems(r.uuid, 'DENIED', 'REQUESTED')">Current</button>
              </ion-item-options>

              <ion-item-options side="right">
                <button ion-button (click)="updateItems(r.uuid, 'DENIED', 'QUEUED')">Queued</button>
              </ion-item-options>
            </ion-item-sliding>
          </ion-item-group>
        </ion-list>
      </ion-col>

      <!--Incoming Requests-->
      <ion-col col-12 col-sm-10 offset-sm-1 col-md-10 offset-md-1 col-lg-4 offset-lg-0 col-xl-4 offset-xl-0>
        <ion-list>
          <ion-list-header>
            <h2>Current Requests</h2>
          </ion-list-header>
          <ion-item-group [dragula]='"request-bag"' [dragulaModel]="requestedRequests" id="REQUESTED" class="request-container hidden-sm-down">
            <ion-item color="dark" *ngFor="let r of requestedRequests" id="{{ r.uuid }}">
              <ion-label> Title: {{ r.song.title}}</ion-label>
              <div item-content>
                Artist: {{ r.song.artist }}
              </div>
            </ion-item>
          </ion-item-group>

          <ion-item-group class="request-container hidden-md-up">
            <ion-item-sliding *ngFor="let r of requestedRequests" #slidingItem>
              <ion-item color="dark" id="{{ r.uuid }}">
                <ion-label> Title: {{ r.song.title}}</ion-label>
                <div item-content>
                  Artist: {{ r.song.artist }}
                </div>
              </ion-item>
              <ion-item-options side="left">
                <button ion-button color="danger" (click)="updateItems(r.uuid, 'REQUESTED', 'DENIED')">Denied</button>
              </ion-item-options>

              <ion-item-options side="right">
                <button ion-button (click)="updateItems(r.uuid, 'REQUESTED', 'QUEUED')">Queued</button>
              </ion-item-options>
            </ion-item-sliding>
          </ion-item-group>
        </ion-list>
      </ion-col>

      <!--Queued Requests-->
      <ion-col col-12 col-sm-10 offset-sm-1 col-md-10 offset-md-1 col-lg-4 offset-lg-0 col-xl-4 offset-xl-0>
        <ion-list>
          <ion-list-header>
            <h2>Queued Requests</h2>
          </ion-list-header>
          <ion-item-group [dragula]='"request-bag"' [dragulaModel]="queuedRequests" id="QUEUED" class="request-container hidden-sm-down">
            <ion-item color="dark" *ngFor="let r of queuedRequests" id="{{ r.uuid }}">
              <ion-label> Title: {{ r.song.title}}</ion-label>
              <div item-content>
                Artist: {{ r.song.artist }}
              </div>
            </ion-item>
          </ion-item-group>

          <ion-item-group class="request-container hidden-md-up">
            <ion-item-sliding *ngFor="let r of queuedRequests" #slidingItem>
              <ion-item color="dark" id="{{ r.uuid }}">
                <ion-label> Title: {{ r.song.title}}</ion-label>
                <div item-content>
                  Artist: {{ r.song.artist }}
                </div>
              </ion-item>
              <ion-item-options side="left">
                <button ion-button color="danger" (click)="updateItems(r.uuid, 'QUEUED', 'DENIED')">Denied</button>
              </ion-item-options>

              <ion-item-options side="right">
                <button ion-button (click)="updateItems(r.uuid, 'QUEUED', 'REQUESTED')">Current</button>
              </ion-item-options>
            </ion-item-sliding>
          </ion-item-group>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
