<!--
  Generated template for the DjManageEventsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<jukebox-header class="hidden-sm-down"></jukebox-header>


<ion-header class="hidden-md-up">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Jukebox DJ</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding padding-top padding-top text-center>
  <h1>Event Manager</h1>
  <ion-list>
    <button ion-item *ngFor="let e of events" color="dark">
      <ion-label col-4> {{ e.name }}</ion-label>
      <ion-label col-4> Created at {{ e.created_at | slice:0:10}} </ion-label>
      <button class="active" *ngIf="e.is_active" ion-button item-end></button>
      <button class="inactive" *ngIf="!e.is_active" color="danger" ion-button item-end></button>
    </button>
  </ion-list>
  <button ion-item color="primary" [navPush]="'create-event'" text-center>Create Event</button>
</ion-content>
