page-home {
  h1{
    color:map-get($colors,primary)!important;
  }
  ion-label {
    font-size: large;
  }
  ion-list {
    ion-label {
      border: solid 1px;
      border-bottom: solid 1px!important;
      padding: 10px;
    }
  }
}
